
<div id='container'></div>
<div id='control'>
  <mat-form-field  style='width:100px;'>
    <mat-select [(value)] = "selected">
        <mat-option value="Treatment"  (click) = 'getData(121726)' >Treatment</mat-option>
        <mat-option value="VSim" (click) ='getData(121724)' >VSim</mat-option>
        <mat-option value="QA" (click) = 'getData(121733)'>QA</mat-option>
        <mat-option value="All" (click) = 'getData(0)'>All</mat-option>
    </mat-select>
</mat-form-field>
<div id='container2' style='height: 300px;'> </div>
<mat-label> Histogram Bin Size [min]</mat-label>
<mat-form-field  style='width:100px;'>
    <mat-select [(value)] = "selected">
        <mat-option value="Treatment"  (click) = 'setBinSize(5)' >5</mat-option>
        <mat-option value="VSim" (click) ='setBinSize(10)' >10</mat-option>
        <mat-option value="QA" (click) = 'setBinSize(15)'>15</mat-option>
        <mat-option value="All" (click) = 'setBinSize(20)'>20</mat-option>
    </mat-select>
</mat-form-field>

<div id="vidx"  style="display:block"> rrrr </div>
<input id='vidx2'  >
</div>