
<div id='container'></div>
<div id='control'>
  <mat-form-field  style='width:200px;'  appearance='fill' >
    <mat-label>Activity Type</mat-label>
    <mat-select [(value)] = "treatSelected" id='procType'>
        <mat-option value="Treatment"  (click) = 'setProcedureCode(121726)' >Treatment</mat-option>
        <mat-option value="VSim" (click) ='setProcedureCode(121724)' >VSim</mat-option>
        <mat-option value="QA" (click) = 'setProcedureCode(121733)'>QA</mat-option>
        <mat-option value="All" (click) = 'setProcedureCode(0)'>All</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field  style='width:200px;'  appearance='fill' >
        <mat-label>Time Range</mat-label>
        <mat-select [(value)] = "timeRangeSelected" >
            <mat-option value="Last_30_Days"  (click) = "getData('last30')" >Last 30 Days </mat-option>
            <mat-option value="Epoch" (click) ='getData(121724)' >VSim</mat-option>
            <mat-option value="Current_Month" (click) = 'getData(121733)'>QA</mat-option>
            <mat-option value="All" (click) = 'getData(0)'>All</mat-option>
        </mat-select>
        </mat-form-field>
<div id='container2' style='height: 300px;'> </div>


<mat-form-field  style='width:120px;' appearance='fill'>
    <mat-label>Bins Size [min]</mat-label>
    <mat-select [(value)] = "binSizeCSelected">
        <mat-option value="5"  (click) = 'setBinSize(5)' >5</mat-option>
        <mat-option value="10" (click) ='setBinSize(10)' >10</mat-option>
        <mat-option value="15" (click) = 'setBinSize(15)'>15</mat-option>
        <mat-option value="20" (click) = 'setBinSize(20)'>20</mat-option>
    </mat-select>
</mat-form-field>

<div id="vidx"  style="display:none">  
<input id='vidx2'  >
</div>
