
<div id='container'></div>
<div *ngIf = 'gotData'>

    <form >
    <mat-form-field appearance="fill">
      <mat-label>Sort Data By</mat-label>
      <mat-select [(value)]="genSvce.WFargs['sortBy']" (selectionChange)='setSortBy($event.value)' >
        <mat-option *ngFor="let sby of sortBys" [value]="sby.value">
          {{sby.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Start Workflow Stage</mat-label>
      <mat-select [(value)]="selectedStartStage" (selectionChange)='changeStartStage($event.value)'>
        <mat-option *ngFor="let sby of startStage" [value]="sby.value">
          {{sby.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Workflow Stage</mat-label>
      <mat-select [(value)]="selectedEndStage" (selectionChange)='changeEndStage($event.value)' >
        <mat-option *ngFor="let sby of endStage" [value]="sby.value">
          {{sby.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date Range</mat-label>
      <mat-select [(value)]="selectedTimeRange" (selectionChange)='setRelTimeRange($event.value)' >
        <mat-option *ngFor="let sby of relTimeRange" [value]="sby.value">
          {{sby.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Max days (limit < 16) </mat-label>
      <input matInput placeholder="Max Days Bin" [value]="genSvce.WFargs['maxDays']" (change)=" setMaxDays($event)">
    </mat-form-field>

   
    <button mat-raised-button class="Button" (click)="submitFunc()">Submit</button>
    <button mat-raised-button class="Button" (click)="saveCSV()">Save Data</button>

 <div *ngIf = 'showCustomDates'> 
    <mat-form-field appearance="fill">
        <mat-label>Interval-Start</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="startDate"  (dateInput)="editDate('start', $event.value)" 
        title="Both Start and End dates need to be selected." (click)="picker.open()" >
        <mat-datepicker-toggle matSuffix [for]="picker"   ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Interval End</mat-label>
        <input matInput [matDatepicker]="picker2" [formControl]="endDate"  (dateInput)="editDate('end', $event.value)" (click)="picker2.open()" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>  
  <div class="raised" *ngIf = 'byMD'>
      <mat-selection-list #shoes class="list-horizontal">
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
  </div>    
  </form>  
    <!--
    <mat-form-field  style='width:200px;'  appearance='fill' >
            <mat-label>File Saving</mat-label>
            <mat-select id='dateRangeID' > 
                <mat-option value="Last_30_Days"  (click)="saveDurationCSV(byPatData)">Save CSV</mat-option>
            </mat-select>
    </mat-form-field>
  -->

</div>